<!-- Incluiomos el base.htmli en esta plantilla >-->
{% extends "paginas/base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %}
<div class="p-5 bg-light">
    <div class="container">
        <h1 class="display-3">Bienvenidos al sitios de la libreria</h1>
        <p class="lead">Empezar a ingresar libros</p>
        <hr class="my-2">

        <p class="lead">
            <a class="btn-outline-primary" href= "jumbo action link" type="button">Empezar</a>
        </p>

    </div>
</div>

{% endblock %}